<?xml version="1.0" encoding="utf-8"?>
<MenuList>
    <Menu Name="순대국"/>
    <Menu Name="김가네"/>
    <Menu Name="호남식당"/>
    <Menu Name="놀부네 부대찌개"/>
    <Menu Name="된장제육"/>
    <Menu Name="코코로"/>
    <Menu Name="봉짬뽕"/>
    <Menu Name="마츠에"/>
    <Menu Name="두루찌개"/>
    <Menu Name="칼국수"/>
    <Menu Name="쌈밥"/>
    <Menu Name="사흘카레"/>
    <Menu Name="생선구이"/>
    <Menu Name="소한마리"/>
    <Menu Name="밀본"/>
</MenuList>