<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <appSettings>
        <add key="NoticeTime" value="12:55"/>
        <add key="WebhookUrl" value="https://hooks.slack.com/xxx"/>
        <add key="Channels" value="@me"/>
    </appSettings>
</configuration>
